.accordion-tabs {
  $base-border-color: gainsboro !default;
  $base-border-radius: 0.3rem 0.3rem 0 0 !default;
  $base-background-color: #00ff06 !default;
  $base-spacing: 1.5rem !default;
  $action-color: #206a63;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #a7b1af;
  $tab-border: 1px solid $base-border-color;
  $tab-content-background: lighten($light-gray, 25);
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 10);

  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0;
  border-radius: $base-border-radius;
  border:0;

  .tab-header-and-content {
    list-style: none;
      display: inline;

    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    &:last-child .tab-link {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
    }
  }

  .tab-link {
    font-family: 'Oswald', sans-serif;
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    font-weight: bold;
    padding: $base-spacing/2 $gutter/2;
    text-decoration: none;
    display: inline-block;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    border-top: 0;
    border-bottom: $tab-border;

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
    }
  }

  .tab-content {
    background: $tab-content-background;
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    border: $tab-border;
    float: left;
    .provrow {
      display: table;
      position: relative;
      width: 100%;
      margin-bottom: 2rem;
    }
    .proveedor {
      display: table-cell;
      width: 50%;
      float: left;
      .prodlogo {
        padding-bottom: 1rem;
        img {
          display: inline-block;
          margin-left: 8rem;
          padding: 0;
          border: 0.3rem solid #aaa;
          border-radius: 0.7rem;
        }
      }
      ul {
        padding-left: 2rem;
      }
      ul li {
        font-family: 'Oswald', 'Oxygen', sans-serif;
        &:nth-child(odd) {
         color: $action-color;
        }
      }
    }
  }
}
.separator {
  display: table;
  height: 2rem;

}